tmp/
spec/decidim_dummy_app/
.rspec-failures
.byebug_history

# default development application
development_app
tailwind.config.js
.rbenv-vars
.vscode
.byebug_history
*.gem
node_modules/
npm_debug.log
.rubocop-*
